/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.left-align{
  width: 89%;
  text-align: left;
}
.white-blur{
  background-color: white;
  color: white;
}
.white-background{
  background-color: white;
}
.input-form-width{
  width: 100%;
}
